.view-mode .view-mode-hide,
.view-mode .input-group .btn-success {
    display: none;
}

.view-mode .form-control,
.view-mode .form-select,
.view-mode .input-group-text {
    border: none;
    background-color: initial;
}

.tooltip-inner {
    --bs-tooltip-max-width: 20rem;
}

.skolem-symbol-input {
    max-width: 25%;
}

@media (max-width: 768px) {
    .input-group .dropdown-toggle {
        max-width: 5rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .step {
        display: none;
    }
}
